/* 使用 CSS 环境变量获取安全区域高度 */
.safearea-container {
    padding-top: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
}

/* 顶部安全区域 */
.safearea-h {
    padding-top: env(safe-area-inset-top);
}

/* 底部安全区域 */
.safearea-b {
    padding-bottom: env(safe-area-inset-bottom);
}

/* 左侧安全区域 */
.safearea-l {
    padding-left: env(safe-area-inset-left);
}

/* 右侧安全区域 */
.safearea-r {
    padding-right: env(safe-area-inset-right);
}